/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    /* background-image: url(images/notebook-bg-1.jpg); */
    background-color: #ffffe6;
    background-repeat: no-repeat;
    background-repeat: cover;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 15px;
}



/* Main */
html {
    /* background-image: url(images/); */
    font-family: 'Kalam', cursive;
}

a {
    text-decoration: none;
}

a:hover {
    width: 120%;
    font-size: 22px;
}

a:link, a:visited {
    color: black;
}

section {
    margin-top: 30px;
}

/* Nav */
input, button {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 3px;
}

input {
    margin-left: 10px;
    margin-right: 10px;
}

.menu-items li {
    display: inline-block
}

.menu-items i {
    font-size: 36px;
}

li {
    padding: 5px;
}

nav img {
    width: 120px;
}

.search-bar input {
    width: 75%;
}

.nav {
    position: relative;
}

.menu-items ul {
    float: right;
}

.search-bar, .menu-items {
    margin-top: 45px;
}


/* Forms pages */
.signup, .login, .create-post {
    font-family: 'Kalam', cursive;
    border: 1px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
}


.signup label, .login label, .create-post label {
    display: block;
    width: 100%;
}

span {
    display: inline-block;
    width: 84px;
}

.signup input, .login input, .create-post input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.signup button, .login button, .create-post button {
    margin-top: 5px;
    margin-bottom: 5px;
}

fieldset {
    text-align: center;
}

#signup-page, #login-page, .new-post {
    text-align: center;
}

/* Results */
section img {
    width: 95%;
}

.results .row {
    margin-top: 20px;
}

/* Account */
.my-posts .row {
    margin-top: 20px;
}

.my-account h2 {
    text-align: center
}



/* 1 Post */
.view-one h3 {
    text-align: center;
}

.view-one .row {
    margin-top: 20px;
}

/* New Post */

.create-post h3 {
    text-align: center;
}

.upload {
    display: inline-block;
    width: 75%;
}

.create-post label, .create-post button {
    margin-top: 20px;
}

/* Edit/Delete */
.entries-container {
    text-align: left;
    background: rgba(245, 245, 245, .9);
    color: black;
    border-radius: 5px;
    padding: 7px;
    /* margin: 0 auto 1.5%; */
    font-size: 1.2rem;
    margin: 20px;
    width: 90%;
}

.edit-entry-buttons {
    float: right;
}

.edit-entry-buttons li {
    display: inline-block;
}

.edit-entry-buttons i {
    font-size: 100%;
}

.edit-entry-buttons p {
    display: inline-block;
}

.my-account span {
    width: auto;
}

.title p {
    font-size: 30px;
}

.info-label {
    display: block;
    font-size: 14px;
}

.date {
    font-size: 14px;
}

.content, .title {
    display: block;
}

.entry-info {
    margin-top: 12px;
}

/* Edit and delete form */
.js-edit-entry input, .js-edit-entry select, .js-edit-entry textarea, .js-edit-entry button {
    display: block;
    margin: 0 auto;
}

.js-edit-entry span {
    line-height: 1.8;
}

.js-edit-entry button {
    margin-top: 15px;
}

.delete-entry-form {
    text-align: center;
    margin-top: 25px;
}

.delete-entry-form button {
    margin-top: 20px;
    margin-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cancel-button {
    font-size: 15px;
}

/* Search results */
#show-results .entries-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

#no-entry {
    text-align: center;
}






